-- MySQL dump 10.13  Distrib 8.0.36, for Win64 (x86_64)
--
-- Host: localhost    Database: glace_code
-- ------------------------------------------------------
-- Server version	8.0.36

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `alembic_version`
--

DROP TABLE IF EXISTS `alembic_version`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `alembic_version` (
  `version_num` varchar(32) NOT NULL,
  PRIMARY KEY (`version_num`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `alembic_version`
--

LOCK TABLES `alembic_version` WRITE;
/*!40000 ALTER TABLE `alembic_version` DISABLE KEYS */;
INSERT INTO `alembic_version` VALUES ('d8f3a7c2b1e4');
/*!40000 ALTER TABLE `alembic_version` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `conversion_unidad`
--

DROP TABLE IF EXISTS `conversion_unidad`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `conversion_unidad` (
  `id` int NOT NULL AUTO_INCREMENT,
  `factor_conversion` float DEFAULT NULL,
  `insumo_id` int DEFAULT NULL,
  `unidad_destino_id` int DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `ix_CONVERSION_UNIDAD_insumo_id` (`insumo_id`),
  KEY `ix_CONVERSION_UNIDAD_is_active` (`is_active`),
  KEY `ix_CONVERSION_UNIDAD_unidad_destino_id` (`unidad_destino_id`),
  CONSTRAINT `CONVERSION_UNIDAD_ibfk_1` FOREIGN KEY (`insumo_id`) REFERENCES `insumo` (`id`),
  CONSTRAINT `CONVERSION_UNIDAD_ibfk_2` FOREIGN KEY (`unidad_destino_id`) REFERENCES `unidad_medida` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=50 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `conversion_unidad`
--

LOCK TABLES `conversion_unidad` WRITE;
/*!40000 ALTER TABLE `conversion_unidad` DISABLE KEYS */;
/*!40000 ALTER TABLE `conversion_unidad` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `custom_order`
--

DROP TABLE IF EXISTS `custom_order`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `custom_order` (
  `id` int NOT NULL AUTO_INCREMENT,
  `detalle_venta_id` int NOT NULL,
  `tipo_evento` varchar(50) NOT NULL,
  `instrucciones_decoracion` text NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `detalle_venta_id` (`detalle_venta_id`),
  CONSTRAINT `custom_order_ibfk_1` FOREIGN KEY (`detalle_venta_id`) REFERENCES `detalle_venta` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `custom_order`
--

LOCK TABLES `custom_order` WRITE;
/*!40000 ALTER TABLE `custom_order` DISABLE KEYS */;
INSERT INTO `custom_order` VALUES (1,11,'cumplea??os','Con trozos de pi??a'),(2,12,'otro','Sin especificaciones'),(3,13,'otro','Sin especificaciones'),(4,15,'cumplea??os','Feliz Cumplea??os'),(5,16,'cumplea??os','Feliz Cumplea??os'),(6,18,'baby_shower','Flores rosas y azules'),(7,19,'cumplea??os','Glaceado especial');
/*!40000 ALTER TABLE `custom_order` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `customer`
--

DROP TABLE IF EXISTS `customer`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `customer` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `telefono` varchar(20) DEFAULT NULL,
  `direccion_despacho` varchar(200) DEFAULT NULL,
  `puntos_acumulados` int NOT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  PRIMARY KEY (`id`),
  UNIQUE KEY `ix_customer_user_id` (`user_id`),
  KEY `ix_customer_is_active` (`is_active`),
  CONSTRAINT `customer_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `customer`
--

LOCK TABLES `customer` WRITE;
/*!40000 ALTER TABLE `customer` DISABLE KEYS */;
INSERT INTO `customer` VALUES (1,2,'+52111223344','Calle falsa, #123',100,1),(2,6,'4776532536','Avenida Pradera 116',1636,1),(3,7,'4775679432','Fraccionamiento El Dorado #123',2,0),(4,8,'4779845362','Fraccionamiento El Dorado #120',34,1);
/*!40000 ALTER TABLE `customer` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `detalle_venta`
--

DROP TABLE IF EXISTS `detalle_venta`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `detalle_venta` (
  `id` int NOT NULL AUTO_INCREMENT,
  `venta_id` int NOT NULL,
  `producto_id` int NOT NULL,
  `cantidad` int NOT NULL,
  `precio_unitario_aplicado` float NOT NULL,
  PRIMARY KEY (`id`),
  KEY `ix_detalle_venta_producto_id` (`producto_id`),
  KEY `ix_detalle_venta_venta_id` (`venta_id`),
  CONSTRAINT `detalle_venta_ibfk_1` FOREIGN KEY (`producto_id`) REFERENCES `product` (`id`),
  CONSTRAINT `detalle_venta_ibfk_2` FOREIGN KEY (`venta_id`) REFERENCES `venta` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=22 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `detalle_venta`
--

LOCK TABLES `detalle_venta` WRITE;
/*!40000 ALTER TABLE `detalle_venta` DISABLE KEYS */;
INSERT INTO `detalle_venta` VALUES (1,1,16,25,20),(2,2,18,1,30),(3,2,14,1,17),(4,2,13,1,170),(5,3,19,4,12),(6,4,20,3,25),(7,5,13,1,170),(8,5,14,1,17),(9,5,12,1,17),(10,5,7,1,17),(11,6,3,11,17),(12,7,16,10,20),(13,7,10,2,150),(14,8,20,1,25),(15,9,13,2,170),(16,10,13,2,170),(17,11,20,1,25),(18,12,13,2,170),(19,13,22,2,500),(20,14,22,1,500),(21,15,20,2,25);
/*!40000 ALTER TABLE `detalle_venta` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `insumo`
--

DROP TABLE IF EXISTS `insumo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `insumo` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nombre_insumo` varchar(100) NOT NULL,
  `categoria` varchar(50) DEFAULT NULL,
  `stock_actual` float DEFAULT NULL,
  `stock_minimo_alerta` float DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL,
  `unidad_base_id` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `ix_INSUMO_categoria` (`categoria`),
  KEY `ix_INSUMO_is_active` (`is_active`),
  KEY `ix_INSUMO_unidad_base_id` (`unidad_base_id`),
  CONSTRAINT `INSUMO_ibfk_1` FOREIGN KEY (`unidad_base_id`) REFERENCES `unidad_medida` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=35 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `insumo`
--

LOCK TABLES `insumo` WRITE;
/*!40000 ALTER TABLE `insumo` DISABLE KEYS */;
/*!40000 ALTER TABLE `insumo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `merma`
--

DROP TABLE IF EXISTS `merma`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `merma` (
  `id` int NOT NULL AUTO_INCREMENT,
  `insumo_id` int DEFAULT NULL,
  `cantidad_perdida` float NOT NULL,
  `causa` varchar(255) DEFAULT NULL,
  `notas_adicionales` text,
  `fecha_registro` datetime DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL,
  `producto_id` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `ix_MERMA_fecha_registro` (`fecha_registro`),
  KEY `ix_MERMA_insumo_id` (`insumo_id`),
  KEY `ix_MERMA_is_active` (`is_active`),
  KEY `ix_merma_is_active_fecha_registro` (`is_active`,`fecha_registro`),
  KEY `ix_merma_producto_id` (`producto_id`),
  CONSTRAINT `fk_merma_producto_id_product` FOREIGN KEY (`producto_id`) REFERENCES `product` (`id`),
  CONSTRAINT `MERMA_ibfk_1` FOREIGN KEY (`insumo_id`) REFERENCES `insumo` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `merma`
--

LOCK TABLES `merma` WRITE;
/*!40000 ALTER TABLE `merma` DISABLE KEYS */;
INSERT INTO `merma` VALUES (1,NULL,4,'Da??o','Se derritieron por el mal funcionamiento del refrigerador','2026-04-16 22:52:40',1,19),(2,NULL,3,'Caducidad','Las fresas se hecharon a perder','2026-04-16 22:54:53',0,20);
/*!40000 ALTER TABLE `merma` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `product`
--

DROP TABLE IF EXISTS `product`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `product` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nombre_producto` varchar(100) NOT NULL,
  `categoria` varchar(50) DEFAULT NULL,
  `precio_venta` float DEFAULT NULL,
  `stock` int DEFAULT NULL,
  `imagen_url` varchar(200) DEFAULT NULL,
  `descripcion` varchar(200) DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL,
  `pedido_minimo` int NOT NULL DEFAULT '1',
  PRIMARY KEY (`id`),
  KEY `ix_product_categoria` (`categoria`),
  KEY `ix_product_is_active` (`is_active`)
) ENGINE=InnoDB AUTO_INCREMENT=23 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `product`
--

LOCK TABLES `product` WRITE;
/*!40000 ALTER TABLE `product` DISABLE KEYS */;
/*!40000 ALTER TABLE `product` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `production_task`
--

DROP TABLE IF EXISTS `production_task`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `production_task` (
  `id` int NOT NULL AUTO_INCREMENT,
  `receta_id` int NOT NULL,
  `estado` varchar(20) DEFAULT NULL,
  `prioridad` varchar(10) DEFAULT NULL,
  `fecha_limite` datetime NOT NULL,
  `fecha_creacion` datetime DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `ix_production_task_estado` (`estado`),
  KEY `ix_production_task_fecha_limite` (`fecha_limite`),
  KEY `ix_production_task_is_active` (`is_active`),
  KEY `ix_production_task_prioridad` (`prioridad`),
  KEY `ix_production_task_prioridad_is_active_fecha_limite` (`prioridad`,`is_active`,`fecha_limite`),
  KEY `ix_production_task_receta_id` (`receta_id`),
  CONSTRAINT `production_task_ibfk_1` FOREIGN KEY (`receta_id`) REFERENCES `recipe` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `production_task`
--

LOCK TABLES `production_task` WRITE;
/*!40000 ALTER TABLE `production_task` DISABLE KEYS */;
INSERT INTO `production_task` VALUES (1,45,'En Horno','Alta','2026-04-16 22:40:00','2026-04-16 22:31:35',0),(2,45,'En Horno','Alta','2026-04-16 22:40:00','2026-04-16 22:31:35',0),(3,45,'Decorando','Media','2026-04-16 22:40:00','2026-04-16 22:40:38',0),(4,45,'Pendiente','Media','2026-04-17 22:43:00','2026-04-16 22:43:15',0),(5,45,'Pendiente','Alta','2026-04-18 22:47:00','2026-04-16 22:47:46',0),(6,77,'Listo','Media','2026-04-17 20:42:00','2026-04-17 20:43:30',1),(7,77,'Pendiente','Media','2026-04-17 20:42:00','2026-04-17 20:43:30',1);
/*!40000 ALTER TABLE `production_task` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `purchase`
--

DROP TABLE IF EXISTS `purchase`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `purchase` (
  `id` int NOT NULL AUTO_INCREMENT,
  `supplier_id` int NOT NULL,
  `fecha_orden` datetime DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  PRIMARY KEY (`id`),
  KEY `ix_purchase_fecha_orden` (`fecha_orden`),
  KEY `ix_purchase_is_active` (`is_active`),
  KEY `ix_purchase_is_active_supplier_id` (`is_active`,`supplier_id`),
  KEY `ix_purchase_supplier_id` (`supplier_id`),
  CONSTRAINT `purchase_ibfk_1` FOREIGN KEY (`supplier_id`) REFERENCES `supplier` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `purchase`
--

LOCK TABLES `purchase` WRITE;
/*!40000 ALTER TABLE `purchase` DISABLE KEYS */;
INSERT INTO `purchase` VALUES (1,4,'2026-04-16 20:06:56',1),(2,1,'2026-04-16 20:35:23',1),(3,3,'2026-04-16 20:39:22',1),(4,5,'2026-04-16 20:41:27',1),(5,8,'2026-04-16 20:44:03',1),(6,4,'2026-04-17 09:12:32',1),(7,3,'2026-04-17 09:55:46',1),(8,1,'2026-04-17 20:31:13',1);
/*!40000 ALTER TABLE `purchase` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `purchase_detail`
--

DROP TABLE IF EXISTS `purchase_detail`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `purchase_detail` (
  `id` int NOT NULL AUTO_INCREMENT,
  `purchase_id` int NOT NULL,
  `insumo_id` int NOT NULL,
  `cantidad` float NOT NULL,
  `precio_unitario` float NOT NULL,
  `unidad_medida_id` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `ix_purchase_detail_insumo_id` (`insumo_id`),
  KEY `ix_purchase_detail_purchase_id` (`purchase_id`),
  KEY `ix_purchase_detail_unidad_medida_id` (`unidad_medida_id`),
  CONSTRAINT `purchase_detail_ibfk_1` FOREIGN KEY (`insumo_id`) REFERENCES `insumo` (`id`),
  CONSTRAINT `purchase_detail_ibfk_2` FOREIGN KEY (`purchase_id`) REFERENCES `purchase` (`id`),
  CONSTRAINT `purchase_detail_ibfk_3` FOREIGN KEY (`unidad_medida_id`) REFERENCES `unidad_medida` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=56 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `purchase_detail`
--

LOCK TABLES `purchase_detail` WRITE;
/*!40000 ALTER TABLE `purchase_detail` DISABLE KEYS */;
/*!40000 ALTER TABLE `purchase_detail` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `recipe`
--

DROP TABLE IF EXISTS `recipe`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `recipe` (
  `id` int NOT NULL AUTO_INCREMENT,
  `product_id` int DEFAULT NULL,
  `nombre_variante` varchar(100) NOT NULL,
  `cantidad_producida` float DEFAULT NULL,
  `tiempo_estimado_min` int DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `ix_recipe_is_active` (`is_active`),
  KEY `ix_recipe_product_id` (`product_id`),
  CONSTRAINT `recipe_ibfk_1` FOREIGN KEY (`product_id`) REFERENCES `product` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=78 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `recipe`
--

LOCK TABLES `recipe` WRITE;
/*!40000 ALTER TABLE `recipe` DISABLE KEYS */;
/*!40000 ALTER TABLE `recipe` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `recipe_detail`
--

DROP TABLE IF EXISTS `recipe_detail`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `recipe_detail` (
  `recipe_id` int NOT NULL,
  `insumo_id` int NOT NULL,
  `cantidad` float DEFAULT NULL,
  `unidad_medida_id` int DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL,
  PRIMARY KEY (`recipe_id`,`insumo_id`),
  KEY `ix_recipe_detail_insumo_id` (`insumo_id`),
  KEY `ix_recipe_detail_is_active` (`is_active`),
  KEY `ix_recipe_detail_unidad_medida_id` (`unidad_medida_id`),
  CONSTRAINT `recipe_detail_ibfk_1` FOREIGN KEY (`insumo_id`) REFERENCES `insumo` (`id`),
  CONSTRAINT `recipe_detail_ibfk_2` FOREIGN KEY (`recipe_id`) REFERENCES `recipe` (`id`),
  CONSTRAINT `recipe_detail_ibfk_3` FOREIGN KEY (`unidad_medida_id`) REFERENCES `unidad_medida` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `recipe_detail`
--

LOCK TABLES `recipe_detail` WRITE;
/*!40000 ALTER TABLE `recipe_detail` DISABLE KEYS */;
/*!40000 ALTER TABLE `recipe_detail` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `supplier`
--

DROP TABLE IF EXISTS `supplier`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `supplier` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nombre_empresa` varchar(100) NOT NULL,
  `categoria_insumos` varchar(50) NOT NULL,
  `nombre_contacto` varchar(100) NOT NULL,
  `telefono` varchar(20) NOT NULL,
  `correo_electronico` varchar(100) NOT NULL,
  `direccion_fisica` varchar(200) DEFAULT NULL,
  `notas_adicionales` text,
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  PRIMARY KEY (`id`),
  KEY `ix_supplier_categoria_insumos` (`categoria_insumos`),
  KEY `ix_supplier_is_active` (`is_active`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `supplier`
--

LOCK TABLES `supplier` WRITE;
/*!40000 ALTER TABLE `supplier` DISABLE KEYS */;
/*!40000 ALTER TABLE `supplier` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `unidad_medida`
--

DROP TABLE IF EXISTS `unidad_medida`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `unidad_medida` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(50) NOT NULL,
  `abreviatura` varchar(10) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `unidad_medida`
--

LOCK TABLES `unidad_medida` WRITE;
/*!40000 ALTER TABLE `unidad_medida` DISABLE KEYS */;
INSERT INTO `unidad_medida` VALUES (1,'Kilogramo','kg'),(2,'Gramo','g'),(3,'Litro','L'),(4,'Mililitro','ml'),(5,'Unidad','u'),(6,'Cart??n','cart'),(7,'Onza','oz');
/*!40000 ALTER TABLE `unidad_medida` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user`
--

DROP TABLE IF EXISTS `user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nombre_completo` varchar(150) NOT NULL,
  `correo_electronico` varchar(150) NOT NULL,
  `password` varchar(255) NOT NULL,
  `rol_asignado` varchar(50) NOT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  PRIMARY KEY (`id`),
  UNIQUE KEY `correo_electronico` (`correo_electronico`),
  UNIQUE KEY `ix_user_correo_electronico` (`correo_electronico`),
  KEY `ix_user_rol_asignado` (`rol_asignado`),
  KEY `ix_user_is_active` (`is_active`),
  KEY `ix_user_rol_asignado_is_active` (`rol_asignado`,`is_active`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user`
--

LOCK TABLES `user` WRITE;
/*!40000 ALTER TABLE `user` DISABLE KEYS */;
/*!40000 ALTER TABLE `user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `venta`
--

DROP TABLE IF EXISTS `venta`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `venta` (
  `id` int NOT NULL AUTO_INCREMENT,
  `cliente_id` int DEFAULT NULL,
  `fecha_hora` datetime DEFAULT NULL,
  `metodo_pago` varchar(50) DEFAULT NULL,
  `monto_recibido` float DEFAULT NULL,
  `monto_cambio` float DEFAULT NULL,
  `lugar_entrega` varchar(50) DEFAULT NULL,
  `fecha_hora_entrega` datetime DEFAULT NULL,
  `estado` varchar(20) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `ix_venta_estado` (`estado`),
  KEY `ix_venta_cliente_id` (`cliente_id`),
  KEY `ix_venta_fecha_hora` (`fecha_hora`),
  CONSTRAINT `venta_ibfk_1` FOREIGN KEY (`cliente_id`) REFERENCES `customer` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `venta`
--

LOCK TABLES `venta` WRITE;
/*!40000 ALTER TABLE `venta` DISABLE KEYS */;
/*!40000 ALTER TABLE `venta` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-04-20 12:00:38
